<!DOCTYPE html>
<html lang="en" ng-app="FullstackGeneratedApp">
<head>
    <base href="/" />
    <title>SCREENGRAB</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link href="/angular-bootstrap-toggle-switch/style/bootstrap3/angular-toggle-switch-bootstrap-3.css" media="all" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script type="text/javascript" src="/socket.io-client/socket.io.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" /> -->

    <!-- <script src="/jquery/dist/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- <script src="/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script> -->

    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-bootstrap-toggle-switch/angular-toggle-switch.min.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/d3/d3.js"></script>
    <script src="/nvd3/build/nv.d3.js"></script>
    <script src="/angular-nvd3/dist/angular-nvd3.js"></script>
    <link rel="stylesheet" type="text/css" href="/nvd3/build/nv.d3.css">
    <script src="/main.js"></script>
</head>
<body ng-controller="MainController" ng-class="[theme.template, theme.color]">
    <main>
        <!-- <side-bar></side-bar> -->
        <navbar></navbar>
        <div id="main">

            <ui-view></ui-view>
        </div>

    </main>
</body>
</html>
