<!-- <nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <fullstack-logo></fullstack-logo>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
        <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>
    </div>
</nav> -->


<aside class="sidebar fixed animate" ng-class="sideBarPosition">
  <a ui-sref="home">
    <div style="text-align:center;">
        <img src="/assets/crab.svg" class="brand-image"/>
        <span class="showWhenExpanded" id="brand-text">crawlspace.io</span>
      </div>
    </div>
  </a>

  <ul class="menu-links" ng-cloak>
    <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
        <a ui-sref-active="active" ui-sref="{{ item.state }}" icon="md md-blur-on" href="{{ item.state }}">
          <i class="{{item.icon}} customlineheight"></i> <span class="showWhenExpanded">{{ item.label }}</span>
        </a>
    </li>

  </ul>

  <div class="btn-default btn minimizer" ng-click="toggleSideBar()">
    <i class="md md-keyboard-arrow-left"></i>
  </div>
</aside>

<nav class="navbar navbar-default navbar-fixed-top expanded" ng-class="{scroll: (scroll>10)}">
  <div class="container-fluid">
    <div class="navbar-header pull-left">
      <button type="button" class="navbar-toggle pull-left m-15" data-activates=".sidebar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <ul class="breadcrumb"> -->
        <!-- <li><a ui-sref="/" ui-sref-active="active">Home</a></li> -->
        <!-- <li>{{currentBaseRoute}}</li>
        <li ng-bind="pageTitle" class="active">Loading..</li> -->
      <!-- </ul> -->
      <div class="user-logged-in" ng-show="user" style="line-height: 64px;">
        <div class="content pull-left">
          <div class="user-name"> Currently logged in as <strong>{{ user.email }}</strong> <span class="text-muted f9"><i>user</i></span></div>
          <!-- <div class="user-actions">
            <a ng-click="logout()">logout</a>
          </div> -->
        </div>
      </div>
    </div>

    <ul class="nav navbar-nav navbar-right navbar-right-no-collapse">
      <li class="pull-right pointer" ng-show="!user" ui-sref="login" title="login">
        <button class="pointer btn btn-round-sm btn-link">
          <i class="md md-account-box f20"></i>
        </button>
        Login
      </li>

      <li class="pull-right pointer" ng-show="user" ng-click="logout()" title="logout">
        <button class="pointer btn btn-link">
          Logout
        </button>
      </li>
    </ul>
  </div>
</nav>
