<div>
    <div style="text-align:center;">
      <button class="btn btn-success" ng-click="newChart()"> Create New Chart </button>
    </div>
    <div class="well" ng-show="!charts.length">
      <h3>You haven't created any charts yet!</h3>
    </div>
    <div id="dash-cont">
      <div class="panel panel-default" id="dash-item" ng-repeat="chart in charts">
        <i class="glyphicon glyphicon-remove pull-right" ng-click="removeChart(chart._id, $index)" id="remove-btn"></i>
        <i class="glyphicon glyphicon-pencil pull-right" ng-click="editChart(chart)" id="remove-btn"></i>
        <div class="panel-heading">
          <h3 class="panel-title">{{chart.name}}</h3>
        </div>
        <div class="panel-body" style="text-align:center;">
          <line-chart chart="chart" ng-if="chart.chartType==='lineChart'"></line-chart>
          <scatter-chart chart="chart" ng-if="chart.chartType==='scatterChart'"></scatter-chart>
        </div>
        <div class="panel-footer">
          <span>Modified: {{chart.modifiedDate | date : 'medium'}}</span>
        </div>
      </div>

    </div>
</div>
