<div class="col-md-2">
  <div class="panel panel-default">
    <div class="panel-body">

        <div>
          <span class="sub-header">Projects</span>
          <a style="margin-left: 10px; outline: 0" href="#" data-toggle="modal" data-target="#projectModal">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </div>
        <select ng-model="selectedProject" ng-change="loadProject(project)" class="form-control" ng-options="project.title for project in getProjects() track by project._id">
          <option value="">-- choose an project --</option>
        </select>

        <div>
          <span class="sub-header">Jobs</span>
          <span>
            <a style="cursor:pointer; outline: 0; background-color: white; border-bottom: thin;" href="#" data-toggle="modal" data-target="#jobModal">
              <span class="glyphicon glyphicon-plus"></span>
            </a>
          <ul style="cursor:pointer;" class="list-group">
              <li class="list-group-item" ng-class="{active: getCurrentJob()._id === jobTab._id}" ng-repeat="jobTab in getCurrentProject().jobs" ng-click="loadJob(jobTab)">{{jobTab.title}}</li>
          </ul>
        </div>

        <div>
          <span class="sub-header">Pages</span>
        	<a style="margin-left: 10px; outline: 0" href="#" ng-click="addPage()">
            	<span class="glyphicon glyphicon-plus"></span>
          </a>
        	<ul style="cursor:pointer;" class="list-group">
        		<li class="list-group-item" ng-class="{active:  getCurrentPage()._id === page._id }" ng-repeat="page in getPages()" ng-click="setCurrentPage(page._id)">{{ page.title }}</li>
        	</ul>
        </div>
      </div>
    </div>
</div>
