/* This parent can be any width and height */
.block {
  text-align: center;
  /* May want to do this if there is risk the container may be narrower than the element inside */
  white-space: nowrap;
}

/* The ghost, nudged to maintain perfect centering */
.block:before {
  content: '';
  display: inline-block;
  height: 90%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can also be of any width and height */
.centered {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

.projects-container {
  height: 90vh;
}
.projects-block {
  height: 100%;

  h3 {
    font-family: arial, sans-serif;
    font-size: 45px;
    color: rgba(0,0,0,0.5);
  }
}
