<h4>Run history</h4>
<div class="col-lg-9">
  <div ng-repeat="run in history" class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">Completed: {{(run.runAt | date: 'medium') || 'NO DATE'}}</h3></div>
      <div class="panel-body">
          <div class="table-responsive">
              <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th>Page Id</th>
                          <th>Scraped Elements</th>
                          <th>Successful Elements</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="page in run.pages">
                          <td>{{page.id}}</td>
                          <td>{{page.scraped}}</td>
                          <td>{{page.success}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>

</div>
