<h2 align=center><u>{{job.title}} Job</u></h2>

<div class="col-md-3">
	<h4 style="margin-left: 5px; display: inline">Pages</h4>
	<a style="margin-left: 10px; outline: 0" href="#" ng-click="addPage()">
    	<span class="glyphicon glyphicon-plus"></span>
    </a>
	<div style="margin-top: 5px; max-height:500px;overflow-y:scroll" class="list-group">
		<a class="list-group-item" ng-class="{active: $index === selectedPage}" ng-repeat="page in pages" ng-click="setSelected($index)">{{ page.title }}</a>
	</div>
</div>

<div class="col-md-8">
	<form class="form-horizontal" name="pageForm">
	<h4 style="margin-left: 50px">Job Details</h4>
	<div style="margin-left: 50px">
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Job Title</label>
		    <div class="col-sm-10">
		      <input type="input" class="form-control" placeholder="Enter job title..." ng-model="job.title">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Description</label>
		    <div class="col-sm-10">
		      <input type="input" class="form-control" placeholder="Enter job description..." ng-model="job.description">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Active Job</label>
		    <div class="col-sm-3">
		      <toggle-switch style="margin-top: 3px;" ng-model="job.active" class="switch-small"></toggle-switch>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Frequency</label>
		    <div class="col-sm-10">
		      <input type="input" class="form-control" placeholder="Enter number of minutes between runs..." ng-model="job.frequency">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Last Run</label>
		    <div class="col-sm-7">
		      <input type="input" class="form-control" disabled ng-model="job.lastRun">
		    </div>
		  </div>
	</div>
	<hr>
	<div ng-show="pages.length === 0">
		<h4 style="margin-left: 50px">You have not yet defined any pages for this job.</h4>
	</div>
	<div style="margin-left: 50px" ng-show="pages.length > 0">
		<h4>Page Details</h4>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Page Title</label>
		    <div class="col-sm-10">
		      <input type="input" class="form-control" placeholder="Enter Page Name" ng-model="pages[selectedPage].title">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Description</label>
		    <div class="col-sm-10">
		      <input type="input" class="form-control" placeholder="Enter Page Description" ng-model="pages[selectedPage].description">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">URL</label>
		    <div class="col-sm-10">
		      <input type="input" class="form-control" placeholder="Enter URL" ng-model="pages[selectedPage].url">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Active Page</label>
		    <div class="col-sm-3">
		      <toggle-switch style="margin-top: 3px;" ng-model="pages[selectedPage].active" class="switch-small"></toggle-switch>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-12" style="margin-left: 15px; padding-left: 25px; padding-bottom: 0">
		       <button ng-click="viewPage()" class="btn btn-primary">View Page</button>
		    </div>
		  </div>
	</div>
	<div>
		<hr>
		  <div class="form-group">
		    <div class="col-sm-12" style="margin-left: 15px; padding-left: 25px; padding-bottom: 15px">
		       <button ng-click="saveJob()" class="btn btn-success">Save Job</button>
		       <button ng-click="removeJob()" class="btn btn-danger">Delete Job</button>
		       <button ng-click="runJob()" ng-disabled="!job.active" class="btn btn-primary">Run Job</button>
		       <alert type="success" ng-show="success">
	        		Job successfully saved!
	    	   </alert>
		    </div>
		  </div>
	</div>
	</form>
</div>

