<div class="projects-container">

	<!-- <div class="sub-categories">
		<div class="project_{{project._id}}" ng-model="selectedProject" ng-repeat="project in projects" ng-class="{'sub-active': getClass(project) }">
			<a ng-click="loadProject(project)" ng-class="{'red': getClass(project) }">{{project.title}}</a>
		</div>
	</div> -->
	<!-- <select ng-change="loadProject()" ng-model="selectedProject" ng-options="project.title for project in projects track by project._id">
		<option value="">-- choose an project --</option>
	</select> -->


	<side-bar></side-bar>

	<!-- when there are no projects created yet -->
	<div class="block projects-block" ng-if="noProjects">
		<div class="centered">
			<h3 class="grey">Create a new project to continue.</h3>
			<div class="btn btn-primary" data-toggle="modal" data-target="#projectModal">Create</div>
		</div>
	</div>

  <ui-view></ui-view>


	<!-- Project Modal -->
	  <div class="modal fade" id="projectModal" role="dialog">
	    <div class="modal-dialog modal-sm">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Add Project</h4>
	        </div>
	        <div class="modal-body">
	          <div class="form-group">
		        <label for="projectName">Project Name</label>
		        <input type="text" ng-model="projectTitle" class="form-control" id="projectTitle" placeholder="Enter new project title">
		      </div>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addProject()">Submit</button>
	        </div>
	      </div>
	    </div>
	  </div>

	<!-- Job Modal -->
	  <div class="modal fade" id="jobModal" role="dialog">
	    <div class="modal-dialog modal-sm">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Add Job</h4>
	        </div>
	        <div class="modal-body">
	          <div class="form-group">
		        <label for="jobTitle">Job Title</label>
		        <input type="text" ng-model="jobTitle" class="form-control" id="jobTitle" placeholder="Enter new job title">
		      </div>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addJob()">Submit</button>
	        </div>
	      </div>
	    </div>
	  </div>

</div>
