#iframedisplay {
  width: 100%;
  height: 37vw;
  position: relative;

}

.iframeContainer {
  position: relative;

  .overlay {
    background-color: black;
    opacity: 0.4;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
