#iframedisplay {
  width: 98vw;
  height: calc(100vh - 375px);
  position: relative;
  margin: 0 auto;
}

.iframeContainer {
  position: relative;
  width: 98vw;
  height: calc(100vh - 375px);
  position: relative;
  margin: 0 auto;

  .overlay {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .centered {
      left: 50%;
      position: absolute;
      top: 50%;
      margin-top: -22.75px;
      margin-left: -68.425px;
    }
  }
}
