.tablecontainer {
  width: 98vw;
  margin: 0 auto;
}
.scrapedSelect {
  display: inline-block;
  width: auto;
  min-width: 150px;
  margin-right: 20px;
}
.btn-round-xs {
    border-radius: 50% !important;
    padding: 0 !important;
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
}
