.scraperInfo {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 12px;
  padding: 10px;
  left: 0px;
  // max-width: 250px;
  word-wrap: break-word;
}

.scraperPopup {
  background-color: rgba(0, 0, 0, 0.6);
  color: black;
  font-size: 12px;
  padding: 10px;
  // max-width: 250px;
  word-wrap: break-word;
  z-index: 100;
  .checkbox {
    margin-top: 0;
    margin-bottom: 0;
  }
  .checkbox input[type=checkbox] {
    margin-left: 0;
  }
  .inline-block {
    word-break: break-all;
    margin-left: 35px;
  }

  .scroll-container {
    max-height: 350px;
    overflow-y: scroll;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.inline-block {
  display: inline-block
}
