<div class="container">
	<select ng-change="loadApp()" ng-model="apps[appIndex]" ng-options="app.name for app in apps track by app.id"></select>
	<a ng-show="appIndex > 0" style="margin-left: 10px" href="#" ng-click="editApp()">
    	<span class="glyphicon glyphicon-pencil"></span>
    </a>
    <a style="margin-left: 10px" href="#" ng-click="addApp()">
    	<span class="glyphicon glyphicon-plus"></span>
    </a>

    <div style="margin-top: 15px" class="panel">
    	<ul class="nav nav-tabs">
		  <li ng-class="{active: activeSchema._id === schema._id}" ng-repeat="schema in schemas"><a data-toggle="tab" ui-sref="appBuilder.schema({id: schema._id})">{{schema.name}}</a></li>
		  <li ng-class="{active: activeSchema === -1}"><a style="cursor:pointer" href="#" ng-click="createSchema()"><span class="glyphicon glyphicon-plus"></span></a></li>
		</ul>
    
		<ui-view>
			<h4 align=center>Select a schema from the tabs above (or click the + to add new).</h4>
		</ui-view>
    </div>
</div>





