<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th ng-repeat="field in getFields()">
                  <input type="text" ng-model="field.name" ng-blur="setFieldName($index, field)" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in getGrid() track by $index">
                <td ng-repeat="col in row.data track by $index">
                  <a ng-if="col.type === 'image'" href="{{col.data}}" target="blank">
                    <img height="50" width="50" src="{{col.data}}"/>
                  </a>
                  <span ng-if="col.type === 'content'">{{col.data}}</span>
                  <a ng-if="col.type === 'link'" href="{{col.data}}" target="blank">{{col.data}}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
