<div class="container iframecontainer">
  <form class="form-group" ng-submit="searchthis(url)">
    <label>Type in the url here - start with http://</label>
    <input type="text" class="form-control" ng-model="url" placeholder="http://www.example.com"></input>
    <button class="btn btn-primary">Submit</button>
  </form>
  <div class="btn-group" role="group">
    <button ng-class="{'btn-warning': getRepeating()}" ng-click="setRepeating()" class="btn btn-success">Repeating</button>
    <button ng-click="resetGrid()" class="btn btn-danger">Reset</button>
    <button class="btn btn-default">Save page</button>
  </div>
  <div>
    <!-- <h3>This is the rendering engine: </h3> -->
    <div class="iframeContainer">
      <iframe name="myFrame" id="iframedisplay" src=""></iframe>
      <div class="overlay" ng-hide="loaded"></div>
    </div>
  </div>
  <extractor-grid></extractor-grid>
</div>
