* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

}
main {
  padding-top: 68px;
}

#main {
  padding-top: 15px;
  margin: 0 auto;
}

.absolute {
  position: absolute;
}
.topleft {
  top: 0;
  left: 0;
}
.bold {
  font-weight: 700;
}
.underline {
  text-decoration: underline;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}


@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'iframe/main';
@import 'projects/main';
