* {
  box-sizing: border-box;
}

body {
  background: #eaeaea;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

}
main {
  padding-top: 63px;
  transition-timing-function: ease;
  -webkit-transition: padding 1s; /* Safari */
  transition: padding 1s;

  &.collapsed {
    padding-left: 70px !important;
  }
}

.btn-round-xs {
  border-radius: 50% !important;
  padding: 0 !important;
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
}

#main {
  padding-top: 15px;
  margin: 0 auto;
}

.absolute {
  position: absolute;
}
.topleft {
  top: 0;
  left: 0;
}
.bold {
  font-weight: 700;
}
.underline {
  text-decoration: underline;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}


@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'iframe/main';
@import 'projects/main';
@import 'dashboard/main';
